.promo {
    background: url(../../img/main_bg.jpg) center (center/cover) no-repeat;
    min-height: 670px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        img {
            width: 140px;
            height: 65px;
            margin-top: 39px;
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
        &_item {
            font-family: Roboto;
            font-size: 11px;
            font-weight: bold;
            text-align: right;
            color: #ffffff;
            text-transform: uppercase;
            margin-left: 40px;
            
        }
    }
    &__slider_item {
        display: flex !important;
        justify-content: space-between;
    }
    &__slider_wrapper {
        width: 524px;
    }
    &__slider_header {
        margin-top: 133px;
        font-size: 37px;
        font-weight: 900;
        line-height: 48px;
        text-align: left;
        color: #ffffff;
    }
    &__slider_subheader {
        margin-top: 27px;
        font-size: 24px;
        font-weight: 300;
        line-height: 30px;
        text-align: left;
        color: #ffffff;
    }
    &__slider_img {
        width: 50%;
    }
        button {
            margin-top: 39px;
            width: 241px;
            height: 60px;
            box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
            background-color: #00c2f0;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            text-align: left;
            color: #ffffff;
            text-align: center;
            text-transform: uppercase;
        }


    &__slider_prev {
        position: absolute;
        left: -14px;
        bottom: 3px;
        z-index: 3;
        img {
            width: 130%;
        }
        :hover {
            transition: 0.3s all;
            transform: scale(1.2);
        }
    }
    
    &__slider_next {
        position: absolute;
        bottom: 3px;
        right: 0;
        z-index: 3;
        img {
            width: 130%;
        }
        :hover {
            transition: 0.3s all;
            transform: scale(1.2);
        }
    }

    &__slider_dots {
        list-style: circle;
        font-size: 32px;
        margin: 0;
        color: #ffffff;
        width: 110px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 30px;
        left: 26%;
        z-index: 3;



        button {
            display: none;
        }
    }
    &__slider_active {
        list-style-type: disc;
        margin: 0 5px;
    }
    

}


