* {
    font-family: 'Roboto', sans-serif;
    :active, :hover, :focus {
        outline: 0;
        outline-offset: 0;
    }
    
    outline: none !important
        
}

@import 'base/fonts';


@import 'libs/bootstrap-grid.min';
@import 'libs/bootstrap-reboot.min';
// @import 'libs/slick';


@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/comparison';
@import 'blocks/expert';
@import 'blocks/advant';
@import 'blocks/options';
@import 'blocks/start';
@import 'blocks/_footer';


.container {
    padding: 0;
}

@keyframes hide {
    from {opacity: 100%;}
    to {opacity: 0%;}
}
.hide {
    display: none;
    animation: hide 1s;
}
@keyframes show {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.show {
    display: block;
    animation: show 1s;
}


