* {
    font-family: 'Roboto', sans-serif;
    :active, :hover, :focus {
        outline: 0;
        outline-offset: 0;
    }
    
    outline: none !important
        
}

@import 'libs/bootstrap-grid.min';
@import 'libs/bootstrap-reboot.min';
@import 'libs/slick';

.container {
    padding: 0;
}

@import 'blocks/header';
